::-webkit-scrollbar{
    width: 12px;

}
::-webkit-scrollbar-thumb{
    background: linear-gradient(10deg, #1b59e8 10%, #d0009f 81%);
    /* background: linear-gradient(transparent,#30ff00); */
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#30ff00);
}
::-webkit-scrollbar-track{
    background: linear-gradient(10deg, #18191c 10%, #353334 81%);
}